{{> header}}
<div class="container">
Pintores
{{"#if pintores}}
        <table class="table table-dark table-hover">
          <thead>
            <tr>
             <td>ID</td>
             <td>Nombre</td>
             <td>Nacionalidad</td>
             <td>Corriente</td>
             <td>Imagen</td>
            </tr>
           </thead>
          </table>
{{else}}
<div No se encuentran pintores</div>
{{/if}}
</div>
{{> footer}}
